{% extends "base.html" %}
{% block title %}Lista de archivos{% endblock %}
{% block content %}

<div class="container py-4">
    <h3>Lista de archivos</h3>
    <p> <a href="/files/upload/">Subir archivo</a> |
        <a href="/files/delete/">Borrar los archivos</a>
    </p>
    {% if files %}
    <table class="table table-striped">
        <tbody>
            <tr>
                <td>Nombre</td>
                <td>Nombre original</td>
                <td>Tamaño</td>
            </tr>
            {% for file in files %}
            <tr>
                <td><a href="/files/download/{{ file.id }}">{{ file.file.url }}</a></td>
                <td>{{file.original_name}}</td>
                <td>{{ file.file.size | filesizeformat }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No hay archivos todavía. Haz click <a href="{% url 'CategoriesAndSizes:model_form_upload' %}">aquí</a>
        para subir archivos.</p>
    {% endif %}
</div>
{% endblock %}
